node_modules/
dist/
dist-browser/
build/
gen-assets/
*.tgz
tmp/
**/backend/storage/
packages/server/target/
packages/mobile/src-tauri/target/
packages/mobile/src-tauri/gen/
packages/ffmpeg/resources/
.eslintrc.local.json
yarn-error.log
.eslintcache
.venv/
__pycache__/
*.db
*.db-journal
**/.tsbuildinfo/
.vite/
__snapshots__/
!packages/backend-core/src/__test__/__snapshots__/
__screenshots__/
.vitest-attachments/
.DS_Store
*.egg-info/
generated/
.claude
CLAUDE.md
.env
.env.local

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

